{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "printWidth": 100,
  "experimentalTernaries": true,
  "objectWrap": "collapse"
}
