.label {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
.label:focus-within {
  outline: 2px solid var(--mantine-primary-color-5);
}

