html,
body,
#root {
  width: 100vw;
  height: var(--viewport-height, 100dvh);
  overflow: hidden;
  margin: 0;
}
body,
.mantine-Drawer-content {
  background-color: var(--mantine-color-gray-0);
}
html[data-mantine-color-scheme='dark'] body,
html[data-mantine-color-scheme='dark'] .mantine-Drawer-content,
html[data-mantine-color-scheme='dark'] .mantine-Popover-dropdown {
  background-color: var(--mantine-color-dark-8);
}
.x-textarea textarea:focus {
  outline: none;
}
#root {
  display: flex;
  flex-direction: column;
}
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-text: white;
}
:root[data-mantine-color-scheme='dark'] .mantine-Input-input,
:root[data-mantine-color-scheme='dark'] input,
:root[data-mantine-color-scheme='dark'] textarea {
  --mantine-color-placeholder: rgba(255, 255, 255, 0.65);
  --input-disabled-color: rgba(255, 255, 255, 0.65);
}
:root .mantine-Input-input,
:root input,
:root textarea {
  --mantine-color-placeholder: rgba(0, 0, 0, 0.50);
  --input-disabled-color: rgba(0, 0, 0, 0.50);
}
button {
  color: inherit;
}
input::placeholder, textarea::placeholder {
  color: var(--mantine-color-placeholder);
}
