html,
body,
#root {
  width: 100vw;
  height: var(--viewport-height, 100dvh);
  overflow: hidden;
  margin: 0;
}
body,
.mantine-Drawer-content {
  background-color: var(--mantine-color-gray-0);
}
html[data-mantine-color-scheme='dark'] body,
html[data-mantine-color-scheme='dark'] .mantine-Drawer-content,
html[data-mantine-color-scheme='dark'] .mantine-Popover-dropdown {
  background-color: var(--mantine-color-dark-8);
}
html[data-theme-name='white'] body,
html[data-theme-name='white'] .mantine-Drawer-content,
html[data-theme-name='white'] .mantine-Popover-dropdown {
  background-color: white;
}
html[data-theme-name='black'] body,
html[data-theme-name='black'] .mantine-Drawer-content,
html[data-theme-name='black'] .mantine-Popover-dropdown {
  background-color: black;
}
.x-textarea textarea:focus {
  outline: none;
}
#root {
  display: flex;
  flex-direction: column;
}
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-text: white;
}
:root[data-mantine-color-scheme='dark'] .mantine-Input-input,
:root[data-mantine-color-scheme='dark'] input,
:root[data-mantine-color-scheme='dark'] textarea {
  --mantine-color-placeholder: rgba(255, 255, 255, 0.65);
  --input-disabled-color: rgba(255, 255, 255, 0.65);
}
:root .mantine-Input-input,
:root input,
:root textarea {
  --mantine-color-placeholder: rgba(0, 0, 0, 0.5);
  --input-disabled-color: rgba(0, 0, 0, 0.5);
}
button {
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  color: var(--mantine-color-placeholder);
}
input,
textarea {
  padding: 0;
}

.header,
.status-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

:root[data-theme-name='white'],
:root[data-theme-name='black'] {
  --mantine-radius-xs: 0;
  --mantine-radius-sm: 0;
  --mantine-radius-md: 0;
  --mantine-radius-lg: 0;
  --mantine-radius-xl: 0;
  --mantine-radius-default: 0;
  .note-preview {
    border-radius: 1rem;
  }
  .label-selector-item,
  .special-label-selector-item {
    border-radius: 1rem !important;
  }
}

:root[data-theme-name='black'] {
  --mantine-primary-color-filled: #211b86 !important;
  --ai-bg: #222;
  --mantine-color-default: #222 !important;
  --mantine-color-body: black;
  --mantine-color-disabled: #222;
  button {
    --ai-bd: none !important;
    --ai-bg: #222 !important;
  }
  input,
  div {
    --input-bd: none !important;
    --input-bg: #222 !important;
  }
  .mantine-Modal-content {
    border: 1px solid white;
  }
  .mantine-Menu-dropdown {
    border: 1px solid white;
    background-color: black;
  }
}

:root[data-theme-name='white'] {
  --ai-bg: #fff;
  button {
    --ai-bd: none !important;
    --ai-color: black !important;
    --ai-bg: #eee !important;
  }
  input,
  div {
    --input-bd: none !important;
    --input-bg: #eee !important;
  }
  .mantine-Modal-content,
  .mantine-Menu-dropdown,
  .mantine-Popover-dropdown {
    border: 1px solid black;
  }
  .header,
  .status-bar {
    background-color: white !important;
  }
}

.mantine-ActionIconGroup-group button:not(:last-child) {
  border-right: none !important;
}
